.footer{
  margin-top: 350px;
  &__title{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
.color{
  color:$golg;}

  }
  &-block{
    margin: 70px auto ;
  display: flex;
    width: 750px;
    justify-content: space-between;
    height: 150px;
    &__contact{
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
      display: block;
      width: 269px;

      margin-right: 40px;

    }

    &__tel{
      display: block;
      text-decoration: none;
      color: #FFFFFF;
      margin-bottom: 16px;
    }
    &__email{
      display: block;
      text-decoration: none;
      color: #FFFFFF;
      margin-bottom:  16px;
    }
    &-box{
      display: block;

      &__bth{
        display: flex;
      }
      &__boxes{
        display: flex;
        margin-bottom: 15px;
      }
    &__input{
      width: 140px;
      height: 30px;
      background: #444444;
      border: 1px solid #616161;
      margin: 0 16px 16px 0;
      padding-left: 8px;
      color: #FFFFFF;

    }
      &__textarea{
        background: #444444;
        border: 1px solid #616161;
        color: #FFFFFF;

      }
      &-send{
        display: flex;

        justify-content: space-between;
        &__text{
          width: 290px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 13px;
          color: #989898;
        }
        &__btn{
          @include Btn(130px, 35px, 18px)
        }
      }

    }
}
  &__line{

    margin: 0 auto;
    width: 900px;

    border: 1px solid #565656;
  }
  &-text{
    margin: 20px auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #989898;
  }
}