.partners{
  margin: 120px 0 100px;
  .colors{
color:$golg
  }
  &__title{
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
  }
  &-slider{

    margin: 50px auto;
    width: 750px;
    height: 150px;
  }
}