.staging {
  margin-bottom: 200px;

  .color {
    color: $golg;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 70px;

  }


  .staging-block {
    display: flex;
    width: 100%;
    height: 330px;

    .staging-block-one {

      height: 300px;
      &__title {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        margin-top: -320px;
        text-decoration: none;
        color: $golg;
        text-align: center;


      }

      .staging-block-one__img {
        height:330px;


      }

      &__box {

      }
    }
  }
}
.text {
  margin-top: -60px;
}
.owl-prev{
  display: none;
}
.owl-next{
  display: none;
}
